.nav-link {
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.137);
    margin-right: 10px;
    color: white;
}
.nav-link:hover { 
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.596);
    margin-right: 10px;
    transition: 0.1s;
    color: black;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background: rgba(214, 214, 214, 0.877);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#navbarText{
    padding-left: 25%;
}

.fb-profile-block {
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
  }
  .profile{
      width: 80%;
      margin: auto;
  }
  img{
    border-radius: 10px;
      width: 100%;
      height: auto;
  }
  .fb-profile-block-thumb{
    display: block;
    height: 315px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .profile-img a{
      bottom: 70px;
      box-shadow: none;
      display: block;
      left: 20px;
      padding:1px;
      position: absolute;
      height: 160px;
      width: 160px;
      background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
      z-index:9;
  }
  .profile-img img {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    height:158px;
    padding: 5px;
    width:158px;
  }
  .profile-name {
    bottom: 100px;
    left: 205px;
    position: absolute;
  }
  .profile-name h2 {
    background: rgba(255, 255, 255, 0.541);
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    max-width: 275px;
    position: relative;
  }

 
  