<div class="container-fluid">
  <nav class="navbar fixed-top navbar-expand-lg  text-light bg-dark">
    <i class="fa fa-facebook-square fa-2x fa-rotate-180" style="color:Chartreuse"></i>&nbsp;
    <a class="navbar-brand">Feisbus</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <em>Mis Historietas</em>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <em>Mis cosas</em>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <em>Mis colegas</em>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <em>Eventos</em>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="profile">
    <div class="fb-profile-block">
      <div class="fb-profile-block-thumb">
        <img src="https://i.pinimg.com/originals/88/34/fc/8834fc1fd8434dc33982344aa5048613.jpg" alt="" title="">
      </div>
      <div class="profile-img">
        <a href="#">
          <img src="http://api.dragonage.com/media/cache/full/content/dam/inquisition-dragonage/2017/07/dorian-profile-260x260.jpg"
            alt="" title="">
        </a>
      </div>
      <div class="profile-name">
        <h2>Er Teo</h2>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="page-footer font-small text-light bg-dark">
  <div class="footer-copyright text-center py-3">© 1974 CopyL3ft:
    <a href="https://www.google.es/search?q=potato/images"> Potato.com</a>
  </div>
</footer>