<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Er Feisbus to falso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><em>Mis Historietas</em> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><em>Mis cosas</em></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><em>Mis colegas</em></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><em>Eventos</em></a>
          </li>
      </ul>
    </div>
  </nav>
