<div class="row">
  <div class="col-md-8">
    <div class="comments-list">
      <div class="media">
        <div class="media-body">
            <button (click)="deletePost(post.id)" type="button" class="btn btn-outline-dark pull-right"><span class="fa fa-times"></span></button>
          <h4 class="media-heading user_name">{{post.user.name}} {{post.user.surname}}</h4>
          {{post.text}}
          <div>
            <p>
              <small>
                <a href="">Like</a>
              </small>
            </p>
            <p>
              <small class="pull-right">
                {{post.creationDate}}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>