<div class="row">
  <div class="col-md-8">
    <div class="comments-list">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading user_name">{{post.person.name}} {{post.person.surname}}</h4>
          {{post.text}}
          <div>
            <p>
              <small>
                <a href="">Like</a>
              </small>
            </p>
            <p>
              <small class="pull-right">
                {{post.creationDate}}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>