i {  vertical-align: middle; }
.table-users tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.nav-user-photo {
     vertical-align: middle;
}
.user_panel {
    width: 50%;
}

.container{
    margin:auto;
    border-radius: 10px;
    margin-bottom: 3%;
    background: rgba(143, 143, 143, 0.39);
    padding: 4%;
}
